<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gamer Time</title>
  </head>
  <body>
    <div id="content">

    </div>
  </body>
  <script type="text/javascript">
    var gameData = <%-sendData -%> ;
    if (gameData) {
      console.log(gameData)
    }
  </script>
</html>
